.container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* gap: 20px; */
}
.innerContainer {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .innerContainer {
    flex-direction: column;
  }
  .container {
    padding: 10px 20px;
  }
}
.sketchcontainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 12px;
  width: auto;
  margin-right: 5px;
  filter: brightness(150%);
}
.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.label {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: var(--textThree);
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px;
}
.label:hover {
  text-decoration: underline;
}
