.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--form2);
  border-radius: 4px;
  box-shadow: var(--shadow16);
}
.icon {
  height: 12px;
  width: auto;
  margin-right: 5px;
  filter: brightness(150%);
}
.input {
    position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.label {
    display: inline-block;
    cursor: pointer;
    background-color:  transparent;
    color: var(--bgOne);
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
}
.label:hover {
    text-decoration: underline;
}
