.cursorCircle {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
