.spinner {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.white {
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25)
    rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
}
.black {
  border-color: rgb(33 33 33 / 15%) rgb(22 22 22 / 25%) rgb(11 11 11 / 35%)
    rgb(0 0 0 / 50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
