.staging {
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .staging {
    flex-direction: column;
  }
}
