.subscriptionbar {
  width: 100%;
  border-bottom: 1px solid var(--bgDisabled);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 550px) {
    .subscriptionbar {
        flex-direction: column;
    }
}
.heading {
  font-size: 22px;
  font-weight: var(--regular);
  color: var(--textOne);
  margin-bottom: 16px;
  margin-top: 0;
}
.barRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}
.label {
  font-size: 16px;
  font-weight: var(--regular);
  color: var(--textOne);
  margin-right: 10px;
  margin-left: 10px;
}
.save {
  border-radius: 4px;
  font-size: 16px;
  font-weight: var(--regular);
  border: 1px solid var(--bgThree);
  color: var(--bgThree);
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 30px;
}
