:root {
  --bgOne: #ffffff;
  --bgTwo: #f5f5f5;
  --bgThree: #5b5fc7;
  --bgFour: #4f52b2;
  --bgFive: #444791;
  --bgDisabled: #ebebeb;
  --textOne: #616161;
  --textTwo: #242424;
  --textThree: rgb(52, 71, 103);
  --textDisabled: #c7c7c7;
  --normal: 400;
  --regular: 500;
  --semibold: 600;
  --bold: 700;
  --shadow2: 0px 0.15px 0.45px rgba(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgba(0, 0, 0, 0.13);
  --shadow4: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
  --shadow8: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11),
    0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
  --shadow4white: 0px 0.3px 0.9px rgba(127, 123, 123, 0.07),
    0px 1px 3.6px rgba(127, 123, 123, 0.11);
  --shadow16: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  --shadow32: 0px 2.4px 7.4px rgba(0, 0, 0, 0.18),
    0px 12.8px 28.8px rgba(0, 0, 0, 0.22);
  --shadow64: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18),
    0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
  --shadowNorm: 0px 5px 40px rgba(91, 95, 199, 0.7),
    0px 0px 15px rgba(91, 95, 199, 0.7);
  --formBgOne: #424242;
  --formBgTwo: #252423;
  --formBgThree: #252423;
  --galleryBgOne: #f5f5f5;
  --galleryBgTwo: #2e2e2e;
  --galleryBgThree: #242424;
  --formElementOne: #616161;
  --formInactive: #adadad;
  --dark1: #242424;
  --dark2: #2e2e2e;
  --form1: #2e2e2e;
  --form2: #252423;
  --form3: #424242;
  --form4: #2e2e2e;
}
