:root {
  --bgOne: #ffffff;
  --bgTwo: #f5f5f5;
  --bgThree: #5b5fc7;
  --bgFour: #4f52b2;
  --bgFive: #444791;
  --bgDisabled: #ebebeb;
  --textOne: #616161;
  --textTwo: #242424;
  --textDisabled: #c7c7c7;
  --normal: 400;
  --regular: 500;
  --semibold: 600;
  --bold: 700;
}
